* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* General code */

.page-wrapper{
  margin: 10px auto;
  width: 90%;
  color: rgba(0,0,0,0.7);
}

.page-section{
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.section-title{
  width: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: right;
  border-right: 5px solid rgb(23, 235, 235);
  padding: 20px;
}
.content{
  padding: 10px;
  margin: 0px 5%;
  width: 85%;
}
#about p{
  text-align: justify
}



/* Header */

.header{
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  color: rgb(23, 235, 235);
  /* height: 100px; */
  display: flex;
}
.left,
.right{
  display: flex;
}
.left{
  /* justify-content: center; */
  padding-left: 30px;
  align-items: center;
}
.right{
  justify-content: center;
  align-items: center;
}
.left h1{
  background-color: rgb(23, 235, 235);
  padding: 5px;
  color:rgba(0,0,0,0.7);
}

.left{
  width: 50%;
}
.right{
  width: 50%;
}
.right a{
  font-weight: 600;
  color: rgb(23, 235, 235);
  margin: 10px;
  text-decoration: none;
  border-bottom:2px solid rgb(23, 235, 235);
  font-family: Arial, Helvetica, sans-serif;

}

/* Hero banner  */

.hero-banner{
  background-image: url("../images/hero-bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.subTitle h2{
  background-color: rgb(23, 235, 235);
  padding: 10px;
  margin: 10px;
  color: rgba(0,0,0,0.7);
}
/* .avatar{
  background-image: url("../images/Haroon-pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 25%;
} */


/* About me  */



/* Work */

.title h4{
  background-color: rgb(23, 235, 235);
  padding: 10px;
  /* margin: 10px 10px 10px 0px; */
  color: rgba(0,0,0,0.7);
  margin-bottom: 10px;

  /* font-size: 18px; */
  /* border-bottom: 5px solid rgb(23, 235, 235); */
}

.workGrid{
  /* margin: 0px 5%; */
  display: grid;
  grid-template-rows: 60vh 60vh 60vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "portfolio1 portfolio1"
  "portfolio2 portfolio3" "portfolio4 portfolio5";
}


#portfolio1{
  grid-area: portfolio1;
  background-image: url("../images/webicon.png");
}
#portfolio2{
  grid-area: portfolio2;
  background-image: url("../images/jakes-eatery.png");
}
#portfolio3{
  grid-area: portfolio3;
  background-image: url("../images/furniture.png");
}
#portfolio4{
  grid-area: portfolio4;
  background-image: url("../images/reclaimit.png");
}
#portfolio5{
  grid-area: portfolio5;
  background-image: url("../images/02-portfolio-4.jpg");
}
.workArea{
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  border:3px solid rgb(23, 235, 235);
  display: flex; 
  align-items: end;
  /* justify-content: end; */
}

.workArea:hover {
  opacity: 0.7;
}




/* contact me */

#footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#footer a{
  color: rgba(0,0,0,0.7);
  font-weight: 600;
  text-decoration: none;
  border-bottom:3px solid rgba(0,0,0,0.7);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
}

/* Media Queries */

@media only screen and (max-width: 979px) {
  .header{
    display: block;
  }
  .left{
    width: 100%;
    justify-content: center;
  }
  .right{
    width: 100%;
  }
  .page-section{
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .section-title{
    width: 100%;
    text-align: left;
    border-bottom: 5px solid rgb(23, 235, 235);
    border-right: none;
    padding: 5px;
  }
  .content{
    margin: 0px;
    width: 100%;
  }
  .title h4{
    padding: 5px;
  }
  #footer a{
    padding: 0px;
  }
  
}

@media only screen and (max-width: 769px) {
  .page-section{
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .section-title{
    width: 100%;
    text-align: left;
    border-bottom: 5px solid rgb(23, 235, 235);
    border-right: none;
    padding: 5px;
  }
  .content{
    width: 100%;
  }
  .hero-banner{
    justify-content: center;
  }
  .workGrid{
    /* margin: 0px 5%; */
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: "portfolio1" "portfolio2" "portfolio3" "portfolio4" "portfolio5";
  }
  #footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #footer a{
    padding: 5px;
  }
  
}